
#set( $createPath = "/docroot/WEB-INF" )
#set( $createName = "/liferay-display.xml" )
<?xml version="1.0"?>
<!DOCTYPE display PUBLIC "-//Liferay//DTD Display 6.2.0//EN" "http://www.liferay.com/dtd/liferay-display_6_2_0.dtd">
<display>
## TODO Deal with portlet outside Control Panel ?
##	<category name="${commonData.getProjectName()}">
	<category name="category.hidden">
#foreach($table in $applications)
		<portlet id="${table.getClassDef().getName()}" />
#end
	</category>
</display>