
#set( $createPath = "${webModulePath}/src/main/resources/content" )
#set( $createName = "/Language.properties" )
#
#  Portlet language localization messages
#
#foreach($table in $applications)
#set ($fields = $table.getFileDef().getFields().getFieldArray())

#
# Portlet ${table.getClassDef().getTitle()} Operations messages
#
${table.getFileDef().getName().toLowerCase()}-operate-successfully=Operation successful
${table.getFileDef().getName().toLowerCase()}-add=Add ${table.getClassDef().getTitle()}
${table.getFileDef().getName().toLowerCase()}-added-successfully=${table.getClassDef().getTitle()} was Added Successfully
${table.getFileDef().getName().toLowerCase()}-deleted-successfully=${table.getClassDef().getTitle()} was Deleted Successfully
${table.getFileDef().getName().toLowerCase()}-error-deleting=Errors found deleting ${table.getClassDef().getTitle()}
${table.getFileDef().getName().toLowerCase()}-updated-successfully=${table.getClassDef().getTitle()} was Updated Successfully
${table.getFileDef().getName().toLowerCase()}-empty-results-message=There are no ${table.getClassDef().getTitle()} entries to display.
${table.getFileDef().getName().toLowerCase()}-help=This portlet allows users to add view, add, edit, and delete ${table.getClassDef().getTitle()} entries from the system.

#
# Portlet ${table.getClassDef().getTitle()} Field Operations messages
#
#foreach($field in $fields)
${table.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}=${field.getTitle()}
${table.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}-required=${field.getTitle()} required.
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="int" || ${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="float" || ${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="double" || ${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="numeric")
${table.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}-required-number=${field.getTitle()} must be number.
#end
#if(${field.getRegexpType().xmlText().isEmpty()} == false)
${table.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}-regexp-no-match=${field.getTitle()} content invalid.
#end
#end

#
# Portlet ${table.getClassDef().getTitle()} Miscellaneous messages
#
action.ADD_${table.getClassDef().getName().toUpperCase()}=Add ${table.getClassDef().getTitle()}

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

#end

#
# Portlet Preferences messages
#
rows-per-page=Rows Per Page
rows-per-page-required=Rows Per Page is Required
rows-per-page-invalid=Rows Per Page Invalid
date-format=Date Format
date-format-required=Date Format is Required
date-format-error=Date Format Error
datetime-format=Datetime Format
datetime-format-required=Datetime Format is Required
datetime-format-error=Datetime Format Error
prefs-success=Preferences Stored Successfully
prefs-tab1=Preferences
prefs-tab2=Export
prefs-tab3=Import
prefs-export=Export to Excel File
prefs-export-message1=From here we generate an excel sheet including all table fields.
prefs-export-message2=In case of validation fields, their associated descriptions will be displayed.
prefs-export-message3=Document and Image fields will only display the name.
prefs-import-message=Work in progress.
prefs-export-sample=Export an Excel Sample
prefs-import=Import an Excel File
prefs-view-type=View type
prefs-view-type-default=Default
prefs-view-type-user=Show user assets
prefs-view-type-user-group=Show user and group assets

combo-select=Please Select
category.${commonData.getProjectName()}=${commonData.getProjectName()}
boolean-true=Yes
boolean-false=No
submit=Submit
cancel=Cancel
filter=Filter
delete-field=Delete
dependent-rows-exist-error-deleting=Can't delete master row. Delete detail rows first.
confirm-delete=Are you sure you want to remove this record? All detail records that depend on this one will be lost.

#
# Validator errors
#
email_error=Email not valid.<br>(Example: user@domain.com)
ip_error=IP not valid. (Example: 192.168.1.2)
integer_regexp_error=Invalid Integer value.<br>(Example: 280)
float_regexp_error=Invalid Float value.<br>(Example: 280.8)
error_number_format=Invalid Numeric format.
url_error=Url not valid.<br>(Example: http://www.google.com)
zipspain_error=Zip code not valid.<br>(Example: 03801)
nifspain_error=Nif not valid.<br>(Example: 21667876Q)
phonespain_error=Phone error.<br>(Example: 99999999)
zero_to_ten_error=Should be a number between 0 and 10.<br>(Example: 5)

#
#  Portlet languague localization messages to be available portal wide
#
#  (Courtesy of Juan G. del Pino)
#
#if (($hasWorkflow || $generateActivity || $asset) ||
	($hasWorkflow && $generateActivity && $asset) ||
	($hasWorkflow && $generateActivity) ||
	($asset && $generateActivity) ||
	($hasWorkflow && $asset))
#foreach($table in $applications)
#set ($tableHasWorkflow=false)
#if ($table.getClassDef().isSetWorkflow())
#if ($table.getClassDef().getWorkflow() == "true")
#set ($tableHasWorkflow=true)
#end
#end
#set ($generateActivity=false)
#if ($table.getClassDef().isSetGenerateActivity())
#if ($table.getClassDef().getGenerateActivity() == "true")
#set ($generateActivity=true)
#end
#end
### Class: ${table.getClassDef().getName()} - ${table.getClassDef().getTitle()}
### Table: ${table.getFileDef().getName()}
#
# Portlet ${table.getClassDef().getTitle()} Global messages
#
model.resource.${basePackage}.model.${table.getClassDef().getName()}=${table.getClassDef().getTitle()}
model.resource.${basePackage}.model=${table.getClassDef().getTitle()}
model.resource.${basePackage}.${table.getClassDef().getName()}=${table.getClassDef().getTitle()}
#if ($generateActivity)
#
# Portlet ${table.getClassDef().getTitle()} Activity messages
#
activity-${table.getFileDef().getName().toLowerCase()}-added-record={0} added a new record in ${table.getClassDef().getTitle()} Table.
activity-${table.getFileDef().getName().toLowerCase()}-updated-record={0} updated a record in ${table.getClassDef().getTitle()} Table.
#if ($tableHasWorkflow)
activity-${table.getFileDef().getName().toLowerCase()}-added-record-pending-approval={0} added a new record in ${table.getClassDef().getTitle()} Table waiting for Approval.
#end
#end
#end
#end