
#set( $createPath = "${webModulePath}/src/main/resources/content" )
#set( $createName = "/Language_it.properties" )
#
#  Portlet language localization messages (by Francesco Scamarcio & Davide N. P. Rossi)
#
#foreach($table in $applications)
#set ($fields = $table.getFileDef().getFields().getFieldArray())

#
# Portlet ${table.getClassDef().getTitle()} Operations messages
#
${table.getFileDef().getName().toLowerCase()}-operate-successfully=Operazione Corretta
${table.getFileDef().getName().toLowerCase()}-add=Crea ${table.getClassDef().getTitle()}
${table.getFileDef().getName().toLowerCase()}-added-successfully=${table.getClassDef().getTitle()} - Campo creato correttamente
${table.getFileDef().getName().toLowerCase()}-deleted-successfully=${table.getClassDef().getTitle()} - Campo eliminato correttamente
${table.getFileDef().getName().toLowerCase()}-error-deleting=Si sono verificati degli errori nell eliminare ${table.getClassDef().getTitle()}
${table.getFileDef().getName().toLowerCase()}-updated-successfully=${table.getClassDef().getTitle()} - Campo modificato correttamente
${table.getFileDef().getName().toLowerCase()}-empty-results-message=Nessun campo ${table.getClassDef().getTitle()} da mostrare.
${table.getFileDef().getName().toLowerCase()}-help=Questo portlet permette agli utenti di creare, modificare ed eliminare ${table.getClassDef().getTitle()} dal sistema.

#
# Portlet ${table.getClassDef().getTitle()} Field Operations messages
#
#foreach($field in $fields)
${table.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}=${field.getTitle()}
${table.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}-required=${field.getTitle()} - Campo Obbligatorio.
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="int" || ${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="float" || ${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="double" || ${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="numeric")
${table.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}-required-number=${field.getTitle()} deve essere un numero.
#end
#if(${field.getRegexpType().xmlText().isEmpty()} == false)
${table.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}-regexp-no-match=${field.getTitle()} contenuto non valido.
#end
#end

#
# Portlet ${table.getClassDef().getTitle()} Miscellaneous messages
#
action.ADD_${table.getClassDef().getName().toUpperCase()}=Crea ${table.getClassDef().getTitle()}

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

#end

#
# Preferences messages
#
rows-per-page=Righe per Pagina
rows-per-page-required=Il campo Righe per Pagina è obbligatorio
rows-per-page-invalid=Righe per pagina errate
date-format=Formato Data
date-format-required= Il Formato della data è obbligatorio
date-format-error=Il Formato della data è errato
datetime-format=Formato Data+Ora
datetime-format-required=Il Formato Data+Ora è un campo obbligatorio
datetime-format-error=Il Formato Data+Ora è errato
prefs-success=Preferenze salvate correttamente
prefs-tab1=Preferenze
prefs-tab2=Esporta
prefs-tab3=Importa
prefs-export=Exporta a file Excel
prefs-export-message1=Da qui generiamo on foglio excel che include tutti i campi della tabella.
prefs-export-message2=Nel caso di campi di validazione, verranno mostrate solo le loro descrizioni.
prefs-export-message3=Per i campi Documenti e Immagini verranno mostrati i nomi.
prefs-import-message=Work in progress.
prefs-export-sample=Esporta un esempio excel
prefs-import=Importa un file Excel

combo-select=Seleziona
category.${commonData.getProjectName()}=${commonData.getProjectName()}
boolean-true=Si
boolean-false=No
submit=Salva
cancel=Annulla
filter=Filtra
delete-field=Elimina
dependent-rows-exist-error-deleting=Non si può eliminare il record principale senza aver eliminato prima i dettagli.
confirm-delete=Sicuro di voler cancellare questo record? Tutti i dettagli che dipendono da questo record saranno persi.

#
# Validator errors
#
email_error=E-mail errata.<br>(Esempio: usuario@dominio.com)
ip_error=IP non valido. (Esempio: 192.168.1.2)
integer_regexp_error=Valore Intero errato.<br>(Esempio: 280)
float_regexp_error=Valore Decimale errato.<br>(Esempio: 280.8)
error_number_format=Formato numerico errato.
url_error=Url errata.<br>(Esempio: http://www.google.es)
zipspain_error=Codice postale errato.<br>(Esempio: 80100)
nifspain_error=Documento di Identità errato.<br>(Esempio: AS0510956)
phonespain_error=Telefono errato.<br>(Esempio: 99999999)
zero_to_ten_error=Deve essere un numero tra 0 e 10.<br>(Esempio: 5)

#
#  Portlet languague localization messages to be available portal wide
#
#  (Courtesy of Juan G. del Pino)
#
#if (($hasWorkflow || $generateActivity || $asset) ||
	($hasWorkflow && $generateActivity && $asset) ||
	($hasWorkflow && $generateActivity) ||
	($asset && $generateActivity) ||
	($hasWorkflow && $asset))
#foreach($table in $applications)
#set ($tableHasWorkflow=false)
#if ($table.getClassDef().isSetWorkflow())
#if ($table.getClassDef().getWorkflow() == "true")
#set ($tableHasWorkflow=true)
#end
#end
#set ($generateActivity=false)
#if ($table.getClassDef().isSetGenerateActivity())
#if ($table.getClassDef().getGenerateActivity() == "true")
#set ($generateActivity=true)
#end
#end
### Class: ${table.getClassDef().getName()} - ${table.getClassDef().getTitle()}
### Table: ${table.getFileDef().getName()}
#
# Portlet ${table.getClassDef().getTitle()} Global messages
#
model.resource.${basePackage}.model.${table.getClassDef().getName()}=${table.getClassDef().getTitle()}
model.resource.${basePackage}.model=${table.getClassDef().getTitle()}
model.resource.${basePackage}.${table.getClassDef().getName()}=${table.getClassDef().getTitle()}
#if ($generateActivity)
#
# Portlet ${table.getClassDef().getTitle()} Activity messages
#
activity-${table.getFileDef().getName().toLowerCase()}-added-record={0} ha aggiunto un nuovo Record alla Tabella ${table.getClassDef().getTitle()}.
activity-${table.getFileDef().getName().toLowerCase()}-updated-record={0} ha modificato un Record nella Tabella ${table.getClassDef().getTitle()}.
#if ($tableHasWorkflow)
activity-${table.getFileDef().getName().toLowerCase()}-added-record-pending-approval={0} ha aggiunto un nuovo Record alla Tabella ${table.getClassDef().getTitle()} in attesa di Approvazione.
#end
#end
#end
#end
