#parse("/Resources/VelocityTemplates_common/PortletFiles/variables.txt")
#set( $createPath = "/docroot/WEB-INF" )
#set( $createName = "/liferay-portlet.xml" )
<?xml version="1.0"?>
<!DOCTYPE liferay-portlet-app PUBLIC "-//Liferay//DTD Portlet Application 6.2.0//EN" "http://www.liferay.com/dtd/liferay-portlet-app_6_2_0.dtd">

<liferay-portlet-app>
#foreach($table in $applications)
#set( $generatePortlet = "true" )
#if ($table.getClassDef().isSetGeneratePortlet()) 
#if ($table.getClassDef().getGeneratePortlet() == "false")
#set ( $generatePortlet = "false" )
#end
#end
#set ($hasWorkflow=false)
#if ($table.getClassDef().isSetWorkflow())
#if ($table.getClassDef().getWorkflow() == "true")
#set ($hasWorkflow=true)
#end
#end
#set ($asset=false)
#set ($hasTrash=false)
#if ($table.getClassDef().isSetTrash())
#if ($table.getClassDef().getTrash() == "true")
#set ($hasWorkflow=true)
#set ($asset=true)
#set ($hasTrash=true)
#end
#end
#if ($table.getClassDef().isSetAsset())
#set ($asset=true)
#end
#if ($generatePortlet == "true" )
	<portlet>
		<portlet-name>$table.getClassDef().getName()</portlet-name>
		<icon>/icons/icon.png</icon>
		<indexer-class>${packageBase}.${commonData.getClient().toLowerCase()}.${commonData.getProjectName().toLowerCase()}.util.${table.getClassDef().getName()}Indexer</indexer-class>
		<open-search-class>${packageBase}.${commonData.getClient().toLowerCase()}.${commonData.getProjectName().toLowerCase()}.util.${table.getClassDef().getName()}OpenSearchImpl</open-search-class>
#if ($table.getClassDef().isSetGenerateActivity())
#if ($table.getClassDef().getGenerateActivity() == "true")		
		<social-activity-interpreter-class>${packageBase}.${commonData.getClient().toLowerCase()}.${commonData.getProjectName().toLowerCase()}.social.${table.getClassDef().getName()}ActivityInterpreter</social-activity-interpreter-class>
#end
#end
#if ($table.getClassDef().isSetShowInControlPanel())
#if ($table.getClassDef().getShowInControlPanel() == "true")
		<control-panel-entry-category>content</control-panel-entry-category>
		<control-panel-entry-weight>17.5</control-panel-entry-weight>
#end
#end
#if ($asset)
		<asset-renderer-factory>${packageBase}.${commonData.getClient().toLowerCase()}.${commonData.getProjectName().toLowerCase()}.asset.${table.getClassDef().getName()}AssetRendererFactory</asset-renderer-factory>
#end
#if ($hasTrash)
		<trash-handler>${packageBase}.${commonData.getClient().toLowerCase()}.${commonData.getProjectName().toLowerCase()}.trash.${table.getClassDef().getName()}TrashHandler</trash-handler>
#end
#if ($hasWorkflow)
		<workflow-handler>${packageBase}.${commonData.getClient().toLowerCase()}.${commonData.getProjectName().toLowerCase()}.workflow.${table.getClassDef().getName()}WorkflowHandler</workflow-handler>
#end
		<action-url-redirect>true</action-url-redirect>
		<instanceable>false</instanceable>
		<scopeable>true</scopeable>
		<header-portlet-css>/css/Portlet_${table.getClassDef().getName()}.css</header-portlet-css>
		<footer-portlet-javascript>/js/javascript.js</footer-portlet-javascript>
		<css-class-wrapper>$table.getClassDef().getName()</css-class-wrapper>
	</portlet>
#end	
#end
	<role-mapper>
		<role-name>administrator</role-name>
		<role-link>Administrator</role-link>
	</role-mapper>
	<role-mapper>
		<role-name>guest</role-name>
		<role-link>Guest</role-link>
	</role-mapper>
	<role-mapper>
		<role-name>power-user</role-name>
		<role-link>Power User</role-link>
	</role-mapper>
	<role-mapper>
		<role-name>user</role-name>
		<role-link>User</role-link>
	</role-mapper>
</liferay-portlet-app>
