#set( $targetFile = "${webModuleBasePackagePath}/web/application/list/${classDef_name}PanelApp.java")
package ${basePackage}.web.application.list;

import com.liferay.application.list.BasePanelApp;
import com.liferay.application.list.PanelApp;
import com.liferay.application.list.constants.PanelCategoryKeys;
import com.liferay.portal.kernel.model.Portlet;

import org.osgi.service.component.annotations.Component;
import org.osgi.service.component.annotations.Reference;

@Component(
	immediate = true,
	property = {
		"panel.app.order:Integer=300",
		"panel.category.key=" + PanelCategoryKeys.SITE_ADMINISTRATION_CONTENT
	},
	service = PanelApp.class
)
public class ${classDef_name}PanelApp extends BasePanelApp {

	@Override
	public String getPortletId() {
		return "${portletName}";
	}

	@Override
	@Reference(
		target = "(javax.portlet.name=${portletName})",
		unbind = "-"
	)
	public void setPortlet(Portlet portlet) {
		super.setPortlet(portlet);
	}

}