#parse("/Resources/VelocityTemplates_common/PortletFiles/variables.txt")
#set( $createPath = "/docroot/JSPs/${fileDef_name}" )
#set( $createName = "/edit${application.getFileDef().getName()}.jsp" )
#parse("/Resources/VelocityTemplates_common/PortletFiles/macro_GetSetFieldName.vm")
#include("/Resources/VelocityTemplates_common/PortletFiles/license_jsp.txt")
<%@include file="../init.jsp" %>
<%@ page import="${packageBase}.${commonData.getClient().toLowerCase()}.${commonData.getProjectName().toLowerCase()}.model.${classDef_name}" %>
#set ($fields = $application.getFileDef().getFields().getFieldArray())
#set ($hasDocuments=false)
#set ($hasDocumentLibrary=false)
#set ($fields = $application.getFileDef().getFields().getFieldArray())
#foreach($field in $fields)
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="image")
#set ($hasDocuments=true)
#end
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="document")
#set ($hasDocuments=true)
#end
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="documentlibrary")
#set ($hasDocumentLibrary=true)
#end
#end
#if($hasDocuments)
<%@ page import="com.liferay.portlet.documentlibrary.model.DLFileEntry" %>
<%@ page import="com.liferay.portlet.documentlibrary.service.DLFileEntryLocalServiceUtil" %>
#end
<%@ page import="com.liferay.portal.kernel.util.StringPool" %>
<%@ page import="com.liferay.portal.kernel.util.HttpUtil" %>
<%@ page import="com.liferay.portal.kernel.util.HtmlUtil" %>
#if ($hasWorkflow)
<%@ page import="com.liferay.portal.service.WorkflowDefinitionLinkLocalServiceUtil" %>
#end
#if ($asset)
<%@ page import="java.lang.Boolean" %>
#end
#if($hasDocumentLibrary)
<%@ page import="com.liferay.portal.kernel.portlet.LiferayWindowState" %>
<%@ page import="com.liferay.portal.model.Group" %>
<%@ page import="com.liferay.portal.service.GroupLocalServiceUtil" %>
<%@ page import="com.liferay.portal.util.PortletKeys" %>
#end

#set ($richtextFields = [])

#foreach($field in $fields)
#if(${field.isSetValidation()})
#foreach($validationTable in $applications)
#if(${validationTable.getClassDef().getName()}==${field.getValidation().getClassName()})
<%@ page import="${packageBase}.${commonData.getClient().toLowerCase()}.${commonData.getProjectName().toLowerCase()}.model.impl.${validationTable.getClassDef().getName()}Impl" %>
#end
#end
#end
#end

<jsp:useBean class="java.lang.String" id="edit${application.getClassDef().getName()}URL" scope="request" />
<jsp:useBean id="${classInstance}" type="${packageBase}.${commonData.getClient().toLowerCase()}.${commonData.getProjectName().toLowerCase()}.model.${classDef_name}" scope="request"/>
<jsp:useBean id="editType" class="java.lang.String" scope="request"/>

#foreach($field in $fields)
#if(${field.isSetValidation()})
#foreach($validationTable in $applications)
#if(${validationTable.getClassDef().getName()}==${field.getValidation().getClassName()})
<jsp:useBean id="${field.getName()}List" type="java.util.List" scope="request" />
#end
#end
#end
#end
#if($hasDocuments)
<jsp:useBean id="folderDLId" class="java.lang.String" scope="request" />
#end

<portlet:defineObjects />

#if ($asset)
<% boolean fromAsset = (request.getAttribute("fromAsset") !=null ? (Boolean) request.getAttribute("fromAsset"): false); %>
#end

#foreach($field in $fields)
#if (${field.isSetValidation()})
#if (${field.getValidation().isSetDepends()})
<aui:script>
Liferay.provide(window,
		'<portlet:namespace />fill${field.getValidation().getClassName()}',
		function() 
		{
			var A = AUI();
			var comboFilter= document.getElementById("<portlet:namespace />${field.getValidation().getDepends().getLocalFieldName()}"); 
			var comboTarget = document.getElementById("<portlet:namespace />${field.getName()}"); 
			var url ='<portlet:resourceURL id="ajaxCallResourceURLFor${field.getValidation().getClassName()}"></portlet:resourceURL>';

			A.io.request(url,
				{
					//data to be sent to server
					data: 
					{
						<portlet:namespace />param_${field.getValidation().getDepends().getAgainstFieldName()}: comboFilter.options[comboFilter.selectedIndex].value,
					},
					dataType: 'json',
					on: 
					{
						failure: function() 
						{},
						success: function(event, id, obj) 
						{
							var instance = this;
												
							//JSON Data coming back from Server
							var message = instance.get('responseData');
							if (message) 
							{
								var i = comboTarget.length;
								while (comboTarget.length > 0)
								{
								      comboTarget.remove(comboTarget.options[comboTarget.length])                  
								}
								
								var newOpt1 = comboTarget.appendChild(document.createElement('option'));
								newOpt1.text = "Please Select";
								for (var i=0; i< message.${field.getValidation().getClassName()}.length; i++)
								{
									var newOpt = comboTarget.appendChild(document.createElement('option'));
									newOpt.value = message.${field.getValidation().getClassName()}[i].${field.getValidation().getFieldName()};
									newOpt.text = message.${field.getValidation().getClassName()}[i].${field.getValidation().getOrderByField()};
								}
							}
							else 
							{
								alert('no data back from server');
							}
						}
					}
				}); //END of io Request
			},
			['aui-io']
		); //End of Provide
</aui:script>
#end
#end
#end

<portlet:renderURL var="redirect"></portlet:renderURL>
#if($hasDocumentLibrary)
<%

    Group group = GroupLocalServiceUtil.getGroup(scopeGroupId);
    Group liveGroup = group;

    if (liveGroup.isStagingGroup()) {
       	liveGroup = liveGroup.getLiveGroup();
    }

	long dlScopeGroupId = scopeGroupId;

	if (liveGroup.isStaged() && !liveGroup.isStagedRemotely() && !liveGroup.isStagedPortlet(PortletKeys.DOCUMENT_LIBRARY)) {
    	dlScopeGroupId = liveGroup.getGroupId();
	}
%>

<liferay-portlet:renderURL portletName="15" windowState="<%= LiferayWindowState.POP_UP.toString() %>" var="selectDLURL" >
	<portlet:param name="struts_action" value="/journal/select_document_library" />
	<portlet:param name="groupId" value="<%= String.valueOf(dlScopeGroupId) %>" />
</liferay-portlet:renderURL>
#end


<liferay-ui:success key="${application.getFileDef().getName().toLowerCase()}-added-successfully" message="${application.getFileDef().getName().toLowerCase()}-added-successfully" />
#if ($hasDocuments)
<aui:form name="add${application.getClassDef().getName()}" action="<%=edit${application.getClassDef().getName()}URL %>" method="post" enctype='multipart/form-data'>
#else
<aui:form name="add${application.getClassDef().getName()}" action="<%=edit${application.getClassDef().getName()}URL %>" method="post">
#end

	<aui:input type="hidden" name="resourcePrimKey" value="<%=${classInstance}.getPrimaryKey() %>"/>
	<c:if test='<%= "add".equals(editType) %>'>
    	<aui:input type="hidden" name="addGuestPermissions" value="true"/>
    	<aui:input type="hidden" name="addGroupPermissions" value="true"/>
	</c:if>
#set ($fields = $application.getFileDef().getFields().getFieldArray())
#foreach($field in $fields)
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="image" || 
	${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="document")
	<aui:input type="hidden" name="HIDDEN_${field.getName()}" value="<%=${classInstance}.get${field.getName().substring(0,1).toUpperCase()}${field.getName().substring(1)}() %>"/>
#end
#end
#if($hasDocuments)
	<aui:input type="hidden" name="HIDDEN_folderDLId" value="<%=${classInstance}.getFolderDLId() %>"/>
#end
#set ($isDetail = "false")
#set ($detailField = "")
#foreach($tabledetail in $applications)
#foreach($detailfile in $tabledetail.getDetailFiles().getDetailFileArray())
#if ($application.getClassDef().getName() == $detailfile.getDetailFileClassName())
#set ($isDetail = "true")
#set ($detailField = "${detailfile.getConnectionFieldName()}")
	<aui:input type="hidden" name="${detailfile.getConnectionFieldName()}" value="<%=${classInstance}.get${detailfile.getConnectionFieldName().substring(0,1).toUpperCase()}${detailfile.getConnectionFieldName().substring(1)}() %>"/>
#end
#end
#end

	<aui:model-context bean="<%= ${classInstance} %>" model="<%= ${classDef_name}.class %>" />

	<aui:fieldset>

#if ($asset)
#if (!$assetTitleExist)
			<aui:input name="${assetTitleField}" label="title"/>
			
#end
#if (!$assetSummaryExist)
			<aui:input name="${assetTitleField}" label="summary"/>		
#end
#end

<% String requiredLabel=""; %>

#set ($fields = $application.getFileDef().getFields().getFieldArray())
#set ($i = 0)
#foreach($field in $fields)
#set ($i = $i + 1)
#set ($arrayIter = ${i} - 1)
#if ($i > 1)
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}!="calculated")		
#if(${field.isSetValidation()})
#foreach($validationTable in $applications)
#if(${validationTable.getClassDef().getName()}==${field.getValidation().getClassName()})
#if ($isDetail=="true" && $detailField == ${field.getName()})
			<%
				for (int i=0;i<${field.getName()}List.size();i++) {
					${validationTable.getClassDef().getName()}Impl ${validationTable.getFileDef().getName()}Selector = (${validationTable.getClassDef().getName()}Impl)${field.getName()}List.get(i);
					if (${validationTable.getFileDef().getName()}Selector.getPrimaryKey() == ${classInstance}.get$field.getName().substring(0,1).toUpperCase()$field.getName().substring(1)() ) {
			%>
				<liferay-ui:message key="${application.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}" />:
				<%= ${validationTable.getFileDef().getName()}Selector.getPrimaryKey() %> - <%= ${validationTable.getFileDef().getName()}Selector.get${field.getValidation().getOrderByField().substring(0,1).toUpperCase()}${field.getValidation().getOrderByField().substring(1)}() %>

			<%
				    }
			    }
            %>
#else
#set ($selectInserted="false")
#foreach($fieldChainValidation in $fields)
#if (${fieldChainValidation.isSetValidation()})
#if (${fieldChainValidation.getValidation().isSetDepends()})
#if (${fieldChainValidation.getValidation().getDepends().getLocalFieldName()}==${field.getName()})
#set ($selectInserted="true")
			<aui:select name="${field.getName()}" label='<%= LanguageUtil.get(pageContext, "${application.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}") %>'
			        id="${field.getName()}" 
			        onChange = '<%= renderResponse.getNamespace() + "fill${fieldChainValidation.getValidation().getClassName()}();" %>' showEmptyOption="true">
#end			
#end			
#end			
#end
#if ($selectInserted=="false")
			<aui:select name="${field.getName()}" id="${field.getName()}" 
			label='<%= LanguageUtil.get(pageContext, "${application.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}") %>' 
			showEmptyOption="true" >
#end							
			<%
				for (int i=0;i<${field.getName()}List.size();i++) {
					${validationTable.getClassDef().getName()}Impl ${validationTable.getFileDef().getName()}Selector = (${validationTable.getClassDef().getName()}Impl)${field.getName()}List.get(i);
					
			%>
				<aui:option value="<%= ${validationTable.getFileDef().getName()}Selector.getPrimaryKey() %>"><%= ${validationTable.getFileDef().getName()}Selector.get${field.getValidation().getOrderByField().substring(0,1).toUpperCase()}${field.getValidation().getOrderByField().substring(1)}() %></aui:option>
			<%
				}
				
			%>
			</aui:select>
#end
#end
#end
#else
#if ($isDetail=="true" && $detailField == ${field.getName()})
#set ($disabled = "true")
#else
#set ($disabled = "false")
#end

#if(${field.getRequired()}=="true")
	<% requiredLabel ="*"; %>
#end
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}!="document" && 
	${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}!="image" &&
	${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}!="richtext" &&
	${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}!="documentlibrary") 
			<aui:input name="${field.getName()}" disabled="${disabled}" label='<%= LanguageUtil.get(pageContext, "${application.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}") + requiredLabel %>'/>
#end

#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="richtext")
    #set ($void = $richtextFields.add($field))
            <aui:field-wrapper label="<%= LanguageUtil.get(pageContext, \"${application.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}\") + requiredLabel %>">
               <liferay-ui:input-editor name="${application.getFileDef().getName()}${field.getName()}Editor" initMethod="init${application.getFileDef().getName()}${field.getName()}Editor"/>
            </aui:field-wrapper>  
               <aui:input name="${field.getName()}" type="hidden"/>
#end

#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="documentlibrary")
            <aui:field-wrapper label="<%= LanguageUtil.get(pageContext, \"${application.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}\") + requiredLabel %>">
     			<aui:input name="${field.getName()}" disabled="${disabled}" inlineField="<%= true %>" size="60" type="text" label=""/>
					<%
                        String ${field.getName()}Click = renderResponse.getNamespace() + "dlBrowse('"+selectDLURL.toString()+ "','" +
                                       LanguageUtil.get(pageContext, "${application.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}") + "', document."+renderResponse.getNamespace()+"add${application.getClassDef().getName()}."+
                                       renderResponse.getNamespace()+"${field.getName()})";
					%>
					<aui:button onClick="<%=${field.getName()}Click%>" value="select" />

            </aui:field-wrapper>  
#end

<% requiredLabel =""; %>

#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="document" || 
	${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="image")
<% if (${classInstance}.get$field.getName().substring(0,1).toUpperCase()$field.getName().substring(1)()!=0){
	DLFileEntry ${field.getName()}_doc = DLFileEntryLocalServiceUtil.getDLFileEntry(${classInstance}.get$field.getName().substring(0,1).toUpperCase()$field.getName().substring(1)());
	String ${field.getName()}_url = themeDisplay.getPortalURL() + themeDisplay.getPathContext() + "/documents/" + ${field.getName()}_doc.getGroupId() + StringPool.SLASH + ${field.getName()}_doc.getFolderId() + StringPool.SLASH + HttpUtil.encodeURL(HtmlUtil.unescape(${field.getName()}_doc.getTitle()));
%>
<%	if (${field.getName()}_doc.getMimeType().toLowerCase().contains("image")) { %>			
			<aui:a href="<%= ${field.getName()}_url %>" target="_blank"><img alt="" src="/documents/<%= ${field.getName()}_doc.getRepositoryId() %>/<%= ${field.getName()}_doc.getUuid() %>" width="100"><%= ${field.getName()}_doc.getTitle() %></aui:a>
<% } else { 
	String url_${field.getName()}_doc="/documents/"+${field.getName()}_doc.getRepositoryId()+"/" + ${field.getName()}_doc.getUuid();
%>
        	<liferay-ui:icon
        		cssClass="top-link"
        		image='<%= "../file_system/small/" + ${field.getName()}_doc.getIcon() %>'
        		label="<%= true %>"
        		message="<%= ${field.getName()}_doc.getTitle() %>"
        		url='<%= url_${field.getName()}_doc %>'
        		target="_blank"
        	/>
<% } %>
        	<aui:input name="${field.getName()}_DELETEDOCUMENT" label="delete-field" type="checkbox" inlineField="true"/>
<% } %>
	        <aui:input name="${field.getName()}_DOCUMENTFILE" label="" type="file" />
#end

#end
				<liferay-ui:error key="${application.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}-required" message="${application.getFileDef().getName().toLowerCase()}-${field.getName().toLowerCase()}-required" />
#set ($uniqueField = "false")
#if ($field.getType().getInt().isSetUnique())
#set ($uniqueField = "true")
#elseif ($field.getType().getLong().isSetUnique())
#set ($uniqueField = "true")
#elseif ($field.getType().getNumeric().isSetUnique())
#set ($uniqueField = "true")
#elseif ($field.getType().getFloat().isSetUnique())
#set ($uniqueField = "true")
#elseif ($field.getType().getVarchar().isSetUnique())
#set ($uniqueField = "true")
#end
#if ($uniqueField == "true")
				<liferay-ui:error key="please-enter-a-unique-code" message="please-enter-a-unique-code" />
#end				
#if(${field_regexp.get(${arrayIter})})
				<liferay-ui:error key="${field_regexp.get(${arrayIter})}_error" message="${field_regexp.get(${arrayIter})}_error" />
#end
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="int") 
				<liferay-ui:error key="error_number_format" message="error_number_format" />
#end
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="float") 
				<liferay-ui:error key="error_number_format" message="error_number_format" />
#end
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="double") 
				<liferay-ui:error key="error_number_format" message="error_number_format" />
#end
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="numeric") 
				<liferay-ui:error key="error_number_format" message="error_number_format" />
#end
#if(${field.getType().getDomNode().getChildNodes().item(1).getLocalName()}=="long") 
				<liferay-ui:error key="error_number_format" message="error_number_format" />
#end	           
#end
#end
#end	

#if ($assetRatings)
<% if (${classInstance}.getPrimaryKey() != 0) { %>
		<liferay-ui:ratings className="<%= ${classDef_name}.class.getName() %>"
    				classPK="<%= ${classInstance}.getPrimaryKey() %>" type="stars" />
<% }%>			
#end
#if ($assetCategories)
		<aui:input name="categories" type="assetCategories" />		
#end
#if ($assetTags)
		<aui:input name="tags" type="assetTags" />	
#end	   
#if ($assetDiscussion)

	<% if (${classInstance}.getPrimaryKey() != 0) { %>
		<liferay-ui:panel-container extended="<%= false %>"
					id="${classDef_name}CommentsPanelContainer" persistState="<%= true %>">
	
					<liferay-ui:panel collapsible="<%= true %>" extended="<%= true %>" id="${classDef_name}CommentsPanel" persistState="<%= true %>"
	        				title='<%= LanguageUtil.get(pageContext, "comments") %>'>
	
						<portlet:actionURL name="invokeTaglibDiscussion" var="discussionURL" />
	
						<liferay-ui:discussion className="<%= ${classDef_name}.class.getName() %>"
	            				classPK="<%= ${classInstance}.getPrimaryKey() %>"
	            				formAction="<%= discussionURL %>" formName="${classDef_name}CommentsForm"
	            				ratingsEnabled="<%= true %>" redirect="<%= redirect %>"
	            				subject="<%= ${classInstance}.get${assetTitleField.substring(0,1).toUpperCase()}${assetTitleField.substring(1)}() %>"
	            				userId="<%= ${classInstance}.getUserId() %>" />
	
					</liferay-ui:panel>
	
		</liferay-ui:panel-container>		
	<% } %>
#end	   
#if ($assetRelated)
		<liferay-ui:panel defaultState="closed" extended="<%= false %>" 
					id="${classDef_name}EntryAssetLinksPanel" persistState="<%= true %>" title="related-assets">
					<aui:fieldset>
						<liferay-ui:input-asset-links className="<%= ${classDef_name}.class.getName() %>" classPK="<%= ${classInstance}.getPrimaryKey() %>"/>
					</aui:fieldset>
		</liferay-ui:panel>		

#end   
	<!-- </table> -->

#set ($modifymode="true")
#if(${application.getClassDef().isSetMode()}=="true")
#set ($modifymode=${application.getClassDef().getMode().getModify()})
#end
	<aui:button-row>
#if (${modifymode}=="true")	
<% String publishButtonLabel = "submit"; %>

#if ($hasWorkflow)

<%	if (WorkflowDefinitionLinkLocalServiceUtil.hasWorkflowDefinitionLink(themeDisplay.getCompanyId(), scopeGroupId, ${classDef_name}.class.getName())) {
		publishButtonLabel = "submit-for-publication";
	}%>	
#end
#if ($richtextFields.size() > 0)
		<aui:button onClick="<%=renderResponse.getNamespace()+\"saveEditors()\"%>" value="<%=publishButtonLabel %>" />
#else
		<aui:button type="submit" value="<%=publishButtonLabel %>" />
#end
#end
#if ($asset)
	<% if (!fromAsset) { %>
#end
		<aui:button onClick="<%= redirect %>" type="cancel"/>
#if ($asset)
	<% } %>
#end
	</aui:button-row>

	</aui:fieldset>

</aui:form>

#if ($richtextFields.size() > 0)
<script type="text/javascript">
 #foreach ($richtextField in $richtextFields)
     function <portlet:namespace />init${application.getFileDef().getName()}${richtextField.getName()}Editor() {
         return '<%=UnicodeFormatter.toString(${classInstance}.get${richtextField.getName().substring(0,1).toUpperCase()}${richtextField.getName().substring(1)}()) %>';
     }
 #end
     function <portlet:namespace />saveEditors() {
 #foreach ($richtextField in $richtextFields)
          document.<portlet:namespace />add${application.getClassDef().getName()}.<portlet:namespace />${richtextField.getName()}.value = window.<portlet:namespace />${application.getFileDef().getName()}${richtextField.getName()}Editor.getHTML();
 #end
          submitForm(document.<portlet:namespace />add${application.getClassDef().getName()});
     }
</script>
#end

#if($hasDocumentLibrary)
<script type="text/javascript">

var _15_selectDocumentLibrary;

Liferay.provide (window, '<portlet:namespace />closePopup', 
      function (popupId) {
                var A = AUI();
                   A.DialogManager.closeByChild('#' + popupId);
                },
                ['aui-base','aui-dialog','aui-dialog-iframe']);

      function <portlet:namespace />dlBrowse(url, title, inputField) {
        
        _15_selectDocumentLibrary = function(dlUrl) {
              <portlet:namespace />closePopup('<portlet:namespace/>selectDocumentLibrary');
              inputField.value = dlUrl;
        }
		Liferay.Util.openWindow(
			{
				dialog: {
					align: Liferay.Util.Window.ALIGN_CENTER,
					width: 680
				},
				id: '<portlet:namespace/>selectDocumentLibrary',
				title: title,
				uri: url
			});
      }
</script>
#end
